services:
  - type: web
    name: API Production
    env: node
    repo: https://github.com/msaspence/hearye
    buildCommand: DEBUG=* npm ci --production=false && npm run migrate && npm run build:api
    buildFilter:
      paths:
        - apps/api/**/*
        - packages/**/*
    startCommand: DEBUG=* npm run start:api
    region: oregon
    plan: starter
    branch: main
    rootDir: .
    numInstances: 1
    envVars:
      - fromGroup: Production
      - key: DATABASE_URL
        fromDatabase:
          name: DB Production
          property: connectionString
    autoDeploy: true
    domains:
      - api.hearyebot.com
  - type: worker
    name: Reminder Runner Production
    env: node
    repo: https://github.com/msaspence/hearye
    buildCommand: DEBUG=* npm ci --production=false && npm run build:reminder-runner
    buildFilter:
      paths:
        - apps/reminder-runner/**/*
        - packages/**/*
    startCommand: DEBUG=* npm run start:reminder-runner
    region: oregon
    plan: starter
    branch: main
    rootDir: .
    numInstances: 1
    envVars:
      - fromGroup: Production
      - key: DATABASE_URL
        fromDatabase:
          name: DB Production
          property: connectionString

    autoDeploy: true

databases:
  - name: DB Production
    databaseName: hearye
