{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "target": "es2019",
    "baseUrl": ".",
    "paths": {
      "@hearye/env": ["../../packages/env/dist"],
      "@hearye/env/*": ["../../packages/env/dist/*"],
      "@hearye/db": ["../../packages/db/dist"],
      "@hearye/db/*": ["../../packages/db/dist/*"],
      "@hearye/dayjs": ["../../packages/dayjs/dist"],
      "@hearye/dayjs/*": ["../../packages/dayjs/dist/*"],
      "@hearye/logger": ["../../packages/logger/dist"],
      "@hearye/logger/*": ["../../packages/logger/dist/*"]
    }
  },
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  }
}
