body {
  font-family: Archivo Narrow;  
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: neumatic_gothic_round;
  line-height: 1em;
  letter-spacing: -0.015em;
}

h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
}

a {
  color: rgb(211, 112, 13);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: rgb(234, 125, 15);
  }
}

.add-to-slack-button {
  align-items:center;
  color:#fff;
  background-color:#4A154B;
  border:0;
  border-radius:4px;
  display:inline-flex;
  font-family:Lato, sans-serif;
  font-size:18px;
  font-weight:600;
  justify-content:center;
  text-decoration:none;
  padding: 10px 20px;
  

  &:hover {
    background-color: #742174;
    color: #fff;
  }

  img {
    height: 18px;
    margin-right: 10px;
  }


  &.large {
    border-radius: 8px;;
    font-size:36px;
    padding: 15px 30px;
    img {
      height: 36px;
      margin-right: 20px;
    }
  }
}

.page-outer {
  width: 1024px;
  margin: 0 auto 0px;
  padding: 50px 100px;
}

.header {
  display: flex;

  .logo {
    flex-grow: 1;
    #logo {
      margin-right: 50px;
      width: 200px;
    }
  }

  h1 {
    display: none;
  }

  .value-prop {
    text-align: right;
    padding-top: 20px;
    width: 400px;
    
    h2 {
      margin-bottom: 20px;
    }
  }
}

#features {
  padding-top: 50px;
}

#pricing {
  margin: 25px auto 0;
  padding: 50px 0;
  width: 450px;
  display: flex;
  font-family: neumatic_gothic_round;
  font-weight: bold;

  .price {
    font-weight: 700;
    font-size: 200px;
    line-height: 150px;
    margin-right: 20px;
  }

  .pers {
    font-size: 75px;
    line-height: 75px;
  }
}

#try {
  margin: 0 auto;
  padding: 50px 0;
  h4 {
    font-size: 150px;
    font-weight: bold;
    margin-bottom: 40px;;
  }
  text-align: center;
}

.footer {
  margin-top: 150px;
  display: flex;

  .spacer {
    flex-grow: 1;
  }

  .menu {
    a {
      margin: 0 5px;
    }
  }
}